.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.display_name {
  font-size: 40px;
  margin-bottom: 1em;
}

.display {
  margin-bottom: 25px;
}

.header {
  border-bottom: solid black;
  margin-bottom: 2em;
}

.home {
  border: solid black;
  width: 350px;
}

.employee {
  border: solid black;
  width: 350px;
}
.empitem {
  border: solid green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
